# Entornos virtuales
.env

# ========================================
# 🐳 DOCKER Y ENTORNOS
# ========================================
docker-compose.override.yml
.dockerignore


# ========================================
# 📊 DATOS Y REPORTES
# ========================================
reseñas_ejemplo.csv
reseñas_rapido.txt
banner.jpg
banner1.jpg
.dockerignore