# Entornos virtuales
.env

# ========================================
# 🐳 DOCKER Y ENTORNOS
# ========================================
.dockerignore
docker-compose.yml
calculos.py
DockerFile
tocsv.py

# ========================================
# 📊 DATOS Y REPORTES
# ========================================
reseñas_ejemplo.csv
reseñas_rapido.txt
.dockerignore
requirements.txt
reseñas_parcial_manual_or_target.html
reseñas.csv
reseñas_2025-11-16.csv
reviews_con_fechas.csv
scraperreviesnuevas.py
delhtml.py
juntandoscraps.py
reseñas_juntas_ant.csv