# Entornos virtuales
.env

# ========================================
# 🐳 DOCKER Y ENTORNOS
# ========================================
docker-compose.override.yml
.dockerignore
docker-compose.yml
calculos.py
DockerFile
tocsv.py

# ========================================
# 📊 DATOS Y REPORTES
# ========================================
reseñas_ejemplo.csv
reseñas_rapido.txt
.dockerignore
